*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  position: relative;
  max-width: 1166px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-image: url('../images/bg-1.jpg');
  background-repeat: no-repeat;
  background-position: left center;
}

.header-top__inner {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #5477BB;
}

.social {
  display: flex;
  align-items: center;
}

.social-img {
  margin-right: 8px;
}

.social-phone {
  margin-right: 32px;
}

.social-viber,
.social-telegram,
.social-instagram,
.social-facebook {
  margin-right: 10px;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid #E8E8E8;
  transition: all ease .3s;
}

.social-viber:hover,
.social-telegram:hover,
.social-instagram:hover,
.social-facebook:hover {
  border: 1px solid #5477BB
}

.social-feedback {
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  padding: 16px 36px;
  background: #5477BB;
  color: #fff;
  transition: background .3s ease;
}

.social-feedback:hover,
.content__btn:hover,
.form__btn:hover {
  background: #4063A7;
}

.burger {
  display: none;
}

.header-nav {
  margin: 20px 0 70px;
}

.nav__link-items {
  display: flex;
  justify-content: space-between;
}

.nav__link-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  color: #303B40;
  transition: all ease .3s;
}

.nav__link-item:hover {
  color: #F69A1B
}

.header-content__box {
  display: flex;
  justify-content: space-between;
}

.content-box__img {
  max-width: 460px;
}

.content-box__text {
  max-width: 457px;
}

.content-box__title {
  font-weight: 600;
  font-size: 56px;
  line-height: 70px;
  color: #303B40;
  margin-bottom: 70px;
}

.content-list__items {
  padding-left: 10px;
}

.content-list__item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #303B40;
}

.content-list__item::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #F69A1B;
  left: -13px;
  top: 18px;
}

.header-content-info {
  padding: 0 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F69A1B;
  height: 160px;
  border-bottom: 1px solid #E8E8E8;
}


.content-info__text {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  max-width: 410px;
}

.content-info__phone input[type="text"] {
  width: 260px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8C969A;
  border: none;
  outline: none;
  padding: 20px 0 20px 20px;
  font-family: 'Montserrat', sans-serif;
}



.content-info__btn button {
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  padding: 16px 36px;
  background: #5477BB;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.about-us {
  background-image: url('../images/bg-2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.about-us__block {
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.about-us__inner {
  border-left: 1px solid #E8E8E8;
}

.about-us__title {
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 35px;
  padding: 100px 100px 0 100px;
}

.about-us__text {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #5477BB;
  margin-bottom: 35px;
  padding: 0 100px;
}

.about-us__desc1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #303B40;
  margin-bottom: 70px;
  padding: 0 100px;
}

.about-us__desc2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #303B40;
  padding: 40px 100px;
  background: #F6F8F9;
}

.expert-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 32px;
}

.expert-text {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #5477BB;
  margin-bottom: 42px;
}

.expert-slider__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.expert-slider__item {
  max-width: 264px;
}

.expert-fio {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #303B40;
  margin-top: 18px;
}

.expert-profession {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #8C969A;
  margin-top: 10px;
}

.about-us__expert {
  position: relative;
  padding-bottom: 100px;
  margin-bottom: 100px;
  border-bottom: 1px solid #E8E8E8;
}

.navigation {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  margin-top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F6F8F9;
  border: 1px solid #E8E8E8;
  transition: all .3s;
  outline: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #5477BB;
  border: 1px solid #5477BB;
}

.swiper-button-next:hover path,
.swiper-button-prev:hover path {
  fill: white;
}

.swiper-button-next path {
  fill: #8C969A;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.support {
  background-image: url(../images/bg-3.jpg);
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}

.support-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.support-text {
  max-width: 660px;
}

.suppot-text__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  padding-right: 25px;
  margin-bottom: 35px;
}

.support-text__decs:first-of-type {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #5477BB;
  margin-bottom: 50px;
  padding-right: 25px;
}

.support-text__decs:last-of-type {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #303B40;
  padding-right: 25px;
}

.support-box {
  flex-basis: 460px;
  background: #F6F8F9;
  border: 1px solid #E8E8E8;
  margin-top: 15px;
}

.support-box__inner {
  padding: 43px 15px 0 67px;
}

.support-box__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #F69A1B;
  margin-bottom: 27px;
}

.support-box__item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #303B40;
  padding-left: 18px;
}

.support-box__item::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #F69A1B;
  left: 0;
  top: 18px;
}

.support-subtitle {
  max-width: 881px;
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
  color: #303B40;
  margin-bottom: 115px;
}

.support-bg {
  margin-bottom: 100px;
  margin-left: 80px;
}

.support-bg__img {
  max-width: 100%;
}

.support-bg__box {
  position: absolute;
  right: 11px;
  max-width: 556px;
  background: #F69A1B;
  bottom: -111%;
}

.support-bg-box__inner {
  padding: 56px 67px 74px 61px;
  max-width: 556px;
  max-height: 362px;
}

.support-bg-box__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  max-width: 310px;
}

.support-bg-box__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  max-width: 422px;
  margin-top: 24px;
}

.services {
  background-image: url('../images/bg-4.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  padding-bottom: 175px;
}

.services-block {
  margin-bottom: 100px;
}


.services-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 45px;
}

.services-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.services-block__items {
  background: #F6F8F9;
  border: 1px solid #E8E8E8;
  flex-basis: 557px;
}

.servives-item__inner {
  padding: 58px 0 40px 100px;
}

.service-title {
  position: relative;
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #303B40;
  margin-top: 12px;
}

.services-list__items {
  padding-right: 25px;
}

.services-list__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #303B40;
  position: relative;
  padding-left: 15px;
}

.services-list__item::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #F69A1B;
  left: 0;
  top: 18px;
}

.accounting::before {
  content: '';
  background-image: url('../images/accounting.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -55px;
  bottom: -2px;
}

.audit::before {
  content: '';
  background-image: url('../images/audit.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -55px;
  bottom: -2px;
}

.management::before {
  content: '';
  background-image: url('../images/management.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -55px;
  bottom: -2px;
}

.tax::before {
  content: '';
  background-image: url('../images/tax.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -55px;
  bottom: -2px;
}

.outsourcing-inner {
  display: flex;
  justify-content: space-between;
}

.outsourcing-info {
  max-width: 754px;
  margin-right: 28px;
}

.outsourcing-info__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 47px;
}

.outsourcing-info__text:first-of-type {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #303B40;
  margin-bottom: 48px;
}

.outsourcing-info__text:last-of-type {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #5477BB;
}

.outsourcing-block {
  background: #F69A1B;
  margin-top: 10px;
}

.outsourcing-block__inner {
  padding: 64px 66px 0 71px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outsourcing-percent {
  font-weight: 900;
  font-size: 90px;
  line-height: 70px;
  color: #FFFFFF;
  margin-bottom: 38px;
}

.outsourcing-percent__text {
  max-width: 225px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.step-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.step-inner__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.step-inner__block {
  max-width: 558px;
  padding-left: 40px;
  border-left: 2px solid #5477BB;
}

.step-info__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 21px;
}

.step-info__text {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #5477BB;
}

.step-block__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #303B40;
  margin-bottom: 11px;
}

.step-block__title span {
  color: #F69A1B;
}

.step-block__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #303B40;
}

.step-bg__img {
  display: flex;
  justify-content: center;
}

.advantages {
  padding-top: 100px;
  background-image: url('../images/bg-5.jpg');
  background-repeat: no-repeat;
  background-position: left top;
}

.advantages__blocks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  max-width: 555px;
  gap: 30px;
}

.advantages__block {
  display: flex;
  justify-content: space-between;
}

.advantages__block+.advantages__block {
  margin-top: 20px;
}

.advantages__img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.advantages__img::after {
  position: absolute;
  content: '';
  background: #F69A1B;
  opacity: 0.15;
  width: 50px;
  height: 50px;
  z-index: -1;
}

.advantages__title {
  max-width: 555px;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 40px;
}

.advantages__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #8C969A;
  max-width: 487px;
  margin-left: 30px;
}

.advantages__text span {
  display: block;
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #303B40;
  margin-bottom: 20px;
}

.advantages__info {
  display: flex;
  align-items: center;
  background: #F6F8F9;
}

.advantages__container {
  width: 950px;
  height: 260px;
  margin: 70px auto 100px;
}

.advantages__decs {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #5477BB;
  margin-left: 99px;
}

.advantages__decs span {
  margin-top: 15px;
  display: block;
  font-weight: 600;
  margin-left: 55px;
  margin-right: 98px;
  font-size: 28px;
  line-height: 44px;
  color: #303B40;
}

.advantages__question {
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 50px;
}

.advantages__steps {
  display: flex;
  margin-bottom: 65px;
  gap: 30px;
}

.advantages__step span {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 50px;
  color: #FFFFFF;
  background: #5477BB;
  margin-bottom: 26px;
}

.advantages__step h4 {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #F69A1B;
  margin-bottom: 11px;
}

.advantages__step p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #303B40;
}

.express {
  margin-bottom: 97px;
}

.express__container {
  display: flex;
  background: #F69A1B;
  padding: 47px 98px;
  justify-content: space-between;
}

.express__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
  color: #FFFFFF;
  margin-bottom: 17px;
}

.express__text {
  max-width: 656px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.express__btn {
  align-self: flex-end;
  margin-bottom: 10px;
}

.publications {
  margin-bottom: 100px;
}

.publications__inner {
  position: relative;
}

.publications__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 50px;
}

.publications-swiper {
  overflow: hidden;
}

.publications__item {
  max-width: 362px;
}

.publications__img {
  position: relative;
  cursor: pointer;
}

.publications__img span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #5477BB;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 6px 17px;
}

.publications__text {
  margin-top: 14px;
  font-size: 18px;
  line-height: 28px;
  color: #303B40;
}

.partner {
  background-image: url('../images/bg-6.jpg');
  background-position: right top;
  background-repeat: no-repeat;
}

.partner__inner {
  position: relative;
  padding-top: 100px;
  border-top: 1px solid #E8E8E8;
  padding-bottom: 100px;
  border-bottom: 1px solid #E8E8E8;
}

.partner__inner .navigation {
  top: 100px;
}

.partner__title {
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 50px;
}

.partner__swiper {
  overflow: hidden;
}

.contacts {
  margin-top: 100px;
}

.contacts__title {
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 40px;
}

.contacts__decs {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #5477BB;
  margin-bottom: 40px;
  max-width: 558px;
}

.contacts__block {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.contacts__phone {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.contacts__phone p,
.contacts__mail p {
  font-size: 14px;
  line-height: 30px;
  color: #303B40;
}

.phone__link a {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #303B40;
}

.contacts__mail {
  display: flex;
  gap: 50px;
  margin-bottom: 33px;
}

.contacts__adress {
  font-size: 18px;
  line-height: 28px;
  color: #303B40;
}

.contacts__social {
  margin-bottom: 30px;
}

.contacts__map {
  margin-bottom: 30px;
}

.contacts__text {
  max-width: 558px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #303B40;
  margin-bottom: 25px;
}

.contacts__email {
  width: 558px;
  position: relative;
}

.contacts__email input {
  width: 100%;
  padding: 20px 45px 20px 20px;
  border: 1px solid #E8E8E8;
  background: #F6F8F9;
  color: #8C969A;
}

.contacts__email input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #8C969A;
}

.contacts__email::after {
  top: 18px;
  right: 20px;
  content: '';
  position: absolute;
  background-image: url('/images/mail.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.contacts__form {
  background: #F69A1B;
  padding: 60px 59px;
  margin-left: 128px;
}

.form__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.contacts__form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.contacts__input {
  background: #FFFFFF;
  color: #8C969A;
  border: none;
  width: 264px;
  padding: 20px;
}

.contacts__input:focus,
.email__input:focus {
  outline: none;
}


.contacts__input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #8C969A;
  font-family: 'Montserrat';
  font-weight: 400;
}

.textarea {
  height: 120px;
  resize: none;
}

.form__desc {
  max-width: 264px;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0 auto 23px auto;
}

.form__btn {
  display: block;
  margin: 0 auto;
  padding: 16px 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #5477BB;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 28px;
}

footer {
  background: #303B40;
  padding: 16px 0;
}

.footer__desc {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}



@media (max-width: 320px) {
  .container {
    max-width: 340px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .header {
    background-position: left top;
  }

  .social,
  .header-nav {
    display: none;
  }

  .burger {
    display: flex;
    align-items: center;
    position: relative;
    width: 32px;
    height: 40px;
    cursor: pointer;
  }

  .burger__line {
    width: 32px;
    height: 2px;
    background: #5477BB;
  }

  .burger__line::after {
    position: absolute;
    content: '';
    width: 32px;
    height: 2px;
    background: #5477BB;
    top: 8px;
  }

  .burger__line::before {
    position: absolute;
    content: '';
    width: 32px;
    height: 2px;
    background: #5477BB;
    bottom: 8px;
  }

  .header-content__box {
    flex-direction: column;
  }

  .content-box__img img {
    width: 232px;
    margin: 34px 34px 0 34px;
  }

  .content-box__title {
    font-size: 28px;
    line-height: 44px;
    margin-bottom: 21px;
  }

  .content-list__item::before {
    left: -14px;
    top: 11px;
    width: 7px;
    height: 7px;
  }

  .content-list__item {
    line-height: 30px;
  }

  .header-content-info {
    flex-direction: column;
    height: 100%;
    padding: 42px 14px 50px;
    gap: 20px;
    align-items: flex-start;
  }

  .content-info__text {
    text-transform: uppercase;
  }

  .content-info__phone,
  .content-info__phone input[type="text"] {
    width: 100%;
  }

  .content-info__btn button {
    text-transform: uppercase;
    width: 198px;
  }

  .about-us__block {
    margin-bottom: 70px;
  }

  .about-us__inner {
    padding: 50px 5px;
    border-left: none;
  }

  .about-us__title {
    padding: 0;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
  }

  .about-us__text {
    padding: 0;
  }

  .about-us__desc1 {
    padding: 0;
    margin-bottom: 53px;
  }

  .about-us__desc2 {
    padding: 40px 30px;
  }

  .about-us__expert {
    padding-bottom: 70px;
    margin-bottom: 70px;
  }

  .navigation {
    display: none;
  }

  .expert-title {
    font-size: 28px;
    line-height: 44px;
  }

  .suppot-text__title {
    font-size: 28px;
    line-height: 44px;
    padding: 0;
  }

  .support-text__decs:first-of-type,
  .support-text__decs:last-of-type {
    padding: 0;
  }

  .support-inner {
    flex-direction: column;
  }

  .support-box {
    margin-top: 50px;
  }

  .support-box__inner {
    padding: 60px 30px;
  }

  .support-box__item::before {
    width: 7px;
    height: 7px;
  }

  .support-bg__box {
    background: transparent;
    position: absolute;
    background-image: url('../images/support-bg320.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 670px;
    margin: 0;
    bottom: -60%;
  }

  .support-bg-box__inner {
    padding: 64px 53px 85px 31px;
  }

  .support-bg-box__title {
    font-size: 40px;
    line-height: 40px;
  }
}