*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  position: relative;
  max-width: 1166px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-image: url('../images/bg-1.jpg');
  background-repeat: no-repeat;
  background-position: left center;
}

.header-top__inner {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #5477BB;
}

.social {
  display: flex;
  align-items: center;
}

.social-img {
  margin-right: 8px;
}

.social-phone {
  margin-right: 32px;
}

.social-viber,
.social-telegram {
  margin-right: 10px;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid #E8E8E8;
  transition: all ease .3s;
}

.social-viber:hover,
.social-telegram:hover {
  border: 1px solid #5477BB
}

.social-feedback {
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  padding: 16px 36px;
  background: #5477BB;
  color: #fff;
}

.header-nav {
  margin: 20px 0 70px;
}

.nav__link-items {
  display: flex;
  justify-content: space-between;
}

.nav__link-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  color: #303B40;
  transition: all ease .3s;
}

.nav__link-item:hover {
  color: #F69A1B
}

.header-content__box {
  display: flex;
  justify-content: space-between;
}

.content-box__img {
  max-width: 460px;
}

.context-box__text {
  max-width: 457px;
}

.content-box__title {
  font-weight: 600;
  font-size: 56px;
  line-height: 70px;
  color: #303B40;
  margin-bottom: 70px;
}

.content-list__items {
  padding-left: 10px;
}

.content-list__item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #303B40;
}

.content-list__item::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #F69A1B;
  left: -13px;
  top: 18px;
}

.header-content-info {
  padding: 0 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F69A1B;
  height: 160px;
  border-bottom: 1px solid #E8E8E8;
}


.content-info__text {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  max-width: 410px;
}

.content-info__phone input[type="text"] {
  width: 260px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8C969A;
  border: none;
  outline: none;
  padding: 20px 0 20px 20px;
  font-family: 'Montserrat', sans-serif;
}



.content-info__btn button {
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  padding: 16px 36px;
  background: #5477BB;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.about-us {
  background-image: url('../images/bg-2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.about-us__block {
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.about-us__inner {
  border-left: 1px solid #E8E8E8;
}

.about-us__title {
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 35px;
  padding: 100px 100px 0 100px;
}

.about-us__text {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #5477BB;
  margin-bottom: 35px;
  padding: 0 100px;
}

.about-us__desc1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #303B40;
  margin-bottom: 70px;
  padding: 0 100px;
}

.about-us__desc2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #303B40;
  padding: 40px 100px;
  background: #F6F8F9;
}

.expert-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 32px;
}

.expert-text {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #5477BB;
  margin-bottom: 42px;
}

.expert-slider__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.expert-slider__item {
  max-width: 264px;
}

.expert-fio {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #303B40;
  margin-top: 18px;
}

.expert-profession {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #8C969A;
  margin-top: 10px;
}

.about-us__expert {
  position: relative;
  padding-bottom: 100px;
  margin-bottom: 100px;
  border-bottom: 1px solid #E8E8E8;
}

.navigation {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  margin-top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F6F8F9;
  border: 1px solid #E8E8E8;
  transition: all .3s;
  outline: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #5477BB;
  border: 1px solid #5477BB;
}

.swiper-button-next:hover path,
.swiper-button-prev:hover path {
  fill: white;
}

.swiper-button-next path {
  fill: #8C969A;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.support {
  background-image: url(../images/bg-3.jpg);
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}

.support-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.support-text {
  max-width: 660px;
}

.suppot-text__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  padding-right: 25px;
  margin-bottom: 35px;
}

.support-text__decs:first-of-type {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #5477BB;
  margin-bottom: 50px;
  padding-right: 25px;
}

.support-text__decs:last-of-type {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #303B40;
  padding-right: 25px;
}

.support-box {
  flex-basis: 460px;
  background: #F6F8F9;
  border: 1px solid #E8E8E8;
  margin-top: 15px;
}

.support-box__inner {
  padding: 43px 15px 0 67px;
}

.support-box__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #F69A1B;
  margin-bottom: 27px;
}

.support-box__item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #303B40;
  padding-left: 18px;
}

.support-box__item::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #F69A1B;
  left: 0;
  top: 18px;
}

.support-subtitle {
  max-width: 881px;
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
  color: #303B40;
  margin-bottom: 115px;
}

.support-bg {
  margin-bottom: 100px;
  margin-left: 80px;
}

.support-bg__img {
  max-width: 100%;
}

.support-bg__box {
  position: absolute;
  right: 11px;
  max-width: 556px;
  background: #F69A1B;
  bottom: -111%;
}

.support-bg-box__inner {
  padding: 56px 67px 74px 61px;
  max-width: 556px;
  max-height: 362px;
}

.support-bg-box__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  max-width: 310px;
}

.support-bg-box__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  max-width: 422px;
  margin-top: 24px;
}

.services {
  background-image: url('../images/bg-4.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  padding-bottom: 175px;
}

.services-block {
  margin-bottom: 100px;
}


.services-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 45px;
}

.services-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.services-block__items {
  background: #F6F8F9;
  border: 1px solid #E8E8E8;
  flex-basis: 557px;
}

.servives-item__inner {
  padding: 58px 0 40px 100px;
}

.service-title {
  position: relative;
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #303B40;
  margin-top: 12px;
}

.services-list__items {
  padding-right: 25px;
}

.services-list__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #303B40;
  position: relative;
  padding-left: 15px;
}

.services-list__item::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid #F69A1B;
  left: 0;
  top: 18px;
}

.accounting::before {
  content: '';
  background-image: url('../images/accounting.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -55px;
  bottom: -2px;
}

.audit::before {
  content: '';
  background-image: url('../images/audit.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -55px;
  bottom: -2px;
}

.management::before {
  content: '';
  background-image: url('../images/management.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -55px;
  bottom: -2px;
}

.tax::before {
  content: '';
  background-image: url('../images/tax.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -55px;
  bottom: -2px;
}

.outsourcing-inner {
  display: flex;
  justify-content: space-between;
}

.outsourcing-info {
  max-width: 754px;
  margin-right: 28px;
}

.outsourcing-info__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 47px;
}

.outsourcing-info__text:first-of-type {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #303B40;
  margin-bottom: 48px;
}

.outsourcing-info__text:last-of-type {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #5477BB;
}

.outsourcing-block {
  background: #F69A1B;
  margin-top: 10px;
}

.outsourcing-block__inner {
  padding: 64px 66px 0 71px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outsourcing-percent {
  font-weight: 900;
  font-size: 90px;
  line-height: 70px;
  color: #FFFFFF;
  margin-bottom: 38px;
}

.outsourcing-percent__text {
  max-width: 225px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

/* .step-inner {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  max-height: 512px;
  justify-content: space-between;
} */
.step-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.step-inner__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.step-inner__block {
  max-width: 558px;
  padding-left: 40px;
  border-left: 2px solid #5477BB;
}

.step-info__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #303B40;
  margin-bottom: 21px;
}

.step-info__text {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #5477BB;
}

.step-block__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #303B40;
  margin-bottom: 11px;
}

.step-block__title span {
  color: #F69A1B;
}

.step-block__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #303B40;
}
.step-bg__img{
  display: flex;
  justify-content: center;
}